# Imports

In [11]:
import pandas as pd
import datetime as dt
from datetime import datetime, timezone
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
#from sklearn.decomposition import PCA
#import xgboost as xg
#from entsoe import EntsoePandasClient
#from statsmodels.graphics import tsaplots
import sys

# Import data

## Entsoe

In [88]:
day_ahead_prices = pd.read_csv(sys.path[0]+"/data/main/DK_2/Day_Ahead_Prices.csv")
day_ahead_prices.tail()

                      Unnamed: 0       0
46315  2023-04-14 20:00:00+02:00  152.21
46316  2023-04-14 21:00:00+02:00  151.00
46317  2023-04-14 22:00:00+02:00  134.33
46318  2023-04-14 23:00:00+02:00   82.61
46319  2023-04-15 00:00:00+02:00  123.90

In [89]:
load_and_forecast = pd.read_csv(sys.path[0]+"/data/main/DK_2/Load_And_Forecast.csv")
load_and_forecast.tail()

                      Unnamed: 0  Forecasted Load  Actual Load
46314  2023-04-14 19:00:00+02:00           1680.0       1665.0
46315  2023-04-14 20:00:00+02:00           1578.0       1578.0
46316  2023-04-14 21:00:00+02:00           1496.0       1488.0
46317  2023-04-14 22:00:00+02:00           1431.0       1402.0
46318  2023-04-14 23:00:00+02:00           1366.0       1332.0

In [90]:
wind_solar_forecast = pd.read_csv(sys.path[0]+"/data/main/DK_2/Wind_Solar_Forecast.csv")
wind_solar_forecast.tail()

                      Unnamed: 0  Solar  Wind Offshore  Wind Onshore
46218  2023-04-14 19:00:00+02:00   12.0          468.0          86.0
46219  2023-04-14 20:00:00+02:00    1.0          497.0          96.0
46220  2023-04-14 21:00:00+02:00    0.0          543.0         108.0
46221  2023-04-14 22:00:00+02:00    0.0          544.0         112.0
46222  2023-04-14 23:00:00+02:00    0.0          546.0         105.0

## Imports

#### Apply Remove UTC functions

In [109]:
imports = pd.read_csv(sys.path[0]+"/data/imports/DK_2/Imports.csv")

In [92]:
imports.head()

                  Unnamed: 0  DE_AT_LU  DE_LU   DK_1  SE_4
0  2018-01-01 00:00:00+01:00     600.0    NaN  585.0   0.0
1  2018-01-01 01:00:00+01:00     600.0    NaN  590.0   0.0
2  2018-01-01 02:00:00+01:00     600.0    NaN  476.0   0.0
3  2018-01-01 03:00:00+01:00     600.0    NaN  538.0   0.0
4  2018-01-01 04:00:00+01:00     600.0    NaN  520.0   0.0

In [41]:
imports['Unnamed: 0'] = pd.to_datetime(imports['Unnamed: 0']).apply(lambda row: row.replace(tzinfo=None))

In [42]:
imports.set_index("Unnamed: 0").r

           Unnamed: 0  DE_AT_LU  DE_LU   DK_1  SE_4
0 2018-01-01 00:00:00     600.0    NaN  585.0   0.0
1 2018-01-01 01:00:00     600.0    NaN  590.0   0.0
2 2018-01-01 02:00:00     600.0    NaN  476.0   0.0
3 2018-01-01 03:00:00     600.0    NaN  538.0   0.0
4 2018-01-01 04:00:00     600.0    NaN  520.0   0.0

In [102]:
imports['Timestamp'] = pd.to_datetime(imports['Unnamed: 0'], format = '%Y %m %d %H:%M:%S',utc = True)
imports.head()

,Unnamed: 0,DE_AT_LU,DE_LU,DK_1,SE_4,Timestamp
0,2018-01-01 00:00:00+01:00,600.0,NaN,585.0,0.0,2017-12-31 23:00:00+00:00
1,2018-01-01 01:00:00+01:00,600.0,NaN,590.0,0.0,2018-01-01 00:00:00+00:00
2,2018-01-01 02:00:00+01:00,600.0,NaN,476.0,0.0,2018-01-01 01:00:00+00:00
3,2018-01-01 03:00:00+01:00,600.0,NaN,538.0,0.0,2018-01-01 02:00:00+00:00
4,2018-01-01 04:00:00+01:00,600.0,NaN,520.0,0.0,2018-01-01 03:00:00+00:00

In [103]:
imports['Timestamp'] = (imports['Timestamp'] + dt.timedelta(hours = 2)).dt.tz_localize(None)
imports.head()

                  Unnamed: 0  DE_AT_LU  DE_LU   DK_1  SE_4           Timestamp
0  2018-01-01 00:00:00+01:00     600.0    NaN  585.0   0.0 2018-01-01 01:00:00
1  2018-01-01 01:00:00+01:00     600.0    NaN  590.0   0.0 2018-01-01 02:00:00
2  2018-01-01 02:00:00+01:00     600.0    NaN  476.0   0.0 2018-01-01 03:00:00
3  2018-01-01 03:00:00+01:00     600.0    NaN  538.0   0.0 2018-01-01 04:00:00
4  2018-01-01 04:00:00+01:00     600.0    NaN  520.0   0.0 2018-01-01 05:00:00

In [108]:
imports[imports['Timestamp'].date()=='20230313']

AttributeError: 'Series' object has no attribute 'date'

In [110]:
imports = remove_utc('Unnamed: 0', 2, imports)

In [112]:
imports.tail(50)

                     DE_AT_LU  DE_LU   DK_1    SE_4
Timestamp
2023-04-14 11:30:00       NaN    0.0    NaN     NaN
2023-04-14 11:45:00       NaN    0.0    NaN     NaN
2023-04-14 12:00:00       NaN    0.0  212.0  1237.0
2023-04-14 12:15:00       NaN    0.0    NaN     NaN
2023-04-14 12:30:00       NaN    0.0    NaN     NaN
2023-04-14 12:45:00       NaN    0.0    NaN     NaN
2023-04-14 13:00:00       NaN    0.0  250.0  1252.0
2023-04-14 13:15:00       NaN    0.0    NaN     NaN
2023-04-14 13:30:00       NaN    0.0    NaN     NaN
2023-04-14 13:45:00       NaN    0.0    NaN     NaN
2023-04-14 14:00:00       NaN    0.0   81.0  1188.0
2023-04-14 14:15:00       NaN    0.0    NaN     NaN
2023-04-14 14:30:00       NaN    0.0    NaN     NaN
2023-04-14 14:45:00       NaN    0.0    NaN     NaN
2023-04-14 15:00:00       NaN    0.0    3.0  1265.0
2023-04-14 15:15:00       NaN    0.0    NaN     NaN
2023-04-14 15:30:00       NaN    0.0    NaN     NaN
2023-04-14 15:45:00       NaN    0.0    NaN     NaN
2023-04-14 16:00:00       NaN    0.0    0.0  1177.0
2023-04-14 16:15:00       NaN    0.0    NaN     NaN
2023-04-14 16:30:00       NaN    0.0    NaN     NaN
2023-04-14 16:45:00       NaN    0.0    NaN     NaN
2023-04-14 17:00:00       NaN    1.0   10.0   944.0
2023-04-14 17:15:00       NaN    1.0    NaN     NaN
2023-04-14 17:30:00       NaN    1.0    NaN     NaN
2023-04-14 17:45:00       NaN    0.0    NaN     NaN
2023-04-14 18:00:00       NaN    0.0  145.0   739.0
2023-04-14 18:15:00       NaN    0.0    NaN     NaN
2023-04-14 18:30:00       NaN    0.0    NaN     NaN
2023-04-14 18:45:00       NaN    0.0    NaN     NaN
2023-04-14 19:00:00       NaN    0.0  102.0   613.0
2023-04-14 19:15:00       NaN    0.0    NaN     NaN
2023-04-14 19:30:00       NaN    0.0    NaN     NaN
2023-04-14 19:45:00       NaN    0.0    NaN     NaN
2023-04-14 20:00:00       NaN    0.0    0.0  1050.0
2023-04-14 20:15:00       NaN    0.0    NaN     NaN
2023-04-14 20:30:00       NaN    0.0    NaN     NaN
2023-04-14 20:45:00       NaN    0.0    NaN     NaN
2023-04-14 21:00:00       NaN    0.0    0.0  1172.0
2023-04-14 21:15:00       NaN    0.0    NaN     NaN
2023-04-14 21:30:00       NaN    0.0    NaN     NaN
2023-04-14 21:45:00       NaN    0.0    NaN     NaN
2023-04-14 22:00:00       NaN    0.0    0.0  1160.0
2023-04-14 22:15:00       NaN    0.0    NaN     NaN
2023-04-14 22:30:00       NaN    0.0    NaN     NaN
2023-04-14 22:45:00       NaN    0.0    NaN     NaN
2023-04-14 23:00:00       NaN    0.0    0.0  1120.0
2023-04-14 23:15:00       NaN    0.0    NaN     NaN
2023-04-14 23:30:00       NaN    0.0    NaN     NaN
2023-04-14 23:45:00       NaN    0.0    NaN     NaN

In [119]:
imports[(imports.index.year == 2023) & (imports.index.month==4) & (imports.index.day==13)].head(50)

                     DE_AT_LU  DE_LU   DK_1    SE_4
Timestamp
2023-04-13 00:00:00       NaN    0.0    0.0  1081.0
2023-04-13 00:15:00       NaN    0.0    NaN     NaN
2023-04-13 00:30:00       NaN    0.0    NaN     NaN
2023-04-13 00:45:00       NaN    0.0    NaN     NaN
2023-04-13 01:00:00       NaN    0.0    0.0  1167.0
2023-04-13 01:15:00       NaN    0.0    NaN     NaN
2023-04-13 01:30:00       NaN    0.0    NaN     NaN
2023-04-13 01:45:00       NaN    0.0    NaN     NaN
2023-04-13 02:00:00       NaN    0.0    0.0  1169.0
2023-04-13 02:15:00       NaN    0.0    NaN     NaN
2023-04-13 02:30:00       NaN    0.0    NaN     NaN
2023-04-13 02:45:00       NaN    0.0    NaN     NaN
2023-04-13 03:00:00       NaN    0.0    0.0  1175.0
2023-04-13 03:15:00       NaN    0.0    NaN     NaN
2023-04-13 03:30:00       NaN    0.0    NaN     NaN
2023-04-13 03:45:00       NaN    0.0    NaN     NaN
2023-04-13 04:00:00       NaN    0.0    0.0  1031.0
2023-04-13 04:15:00       NaN    0.0    NaN     NaN
2023-04-13 04:30:00       NaN    0.0    NaN     NaN
2023-04-13 04:45:00       NaN    0.0    NaN     NaN
2023-04-13 05:00:00       NaN    0.0    0.0  1074.0
2023-04-13 05:15:00       NaN    0.0    NaN     NaN
2023-04-13 05:30:00       NaN    0.0    NaN     NaN
2023-04-13 05:45:00       NaN    0.0    NaN     NaN
2023-04-13 06:00:00       NaN    0.0    2.0  1229.0
2023-04-13 06:15:00       NaN    0.0    NaN     NaN
2023-04-13 06:30:00       NaN    0.0    NaN     NaN
2023-04-13 06:45:00       NaN    0.0    NaN     NaN
2023-04-13 07:00:00       NaN    0.0  194.0  1196.0
2023-04-13 07:15:00       NaN    0.0    NaN     NaN
2023-04-13 07:30:00       NaN    0.0    NaN     NaN
2023-04-13 07:45:00       NaN    0.0    NaN     NaN
2023-04-13 08:00:00       NaN    0.0  100.0  1191.0
2023-04-13 08:15:00       NaN    0.0    NaN     NaN
2023-04-13 08:30:00       NaN    0.0    NaN     NaN
2023-04-13 08:45:00       NaN    0.0    NaN     NaN
2023-04-13 09:00:00       NaN    0.0  163.0  1050.0
2023-04-13 09:15:00       NaN    0.0    NaN     NaN
2023-04-13 09:30:00       NaN    0.0    NaN     NaN
2023-04-13 09:45:00       NaN    0.0    NaN     NaN
2023-04-13 10:00:00       NaN    0.0    0.0  1163.0
2023-04-13 10:15:00       NaN    0.0    NaN     NaN
2023-04-13 10:30:00       NaN    0.0    NaN     NaN
2023-04-13 10:45:00       NaN    0.0    NaN     NaN
2023-04-13 11:00:00       NaN    0.0    0.0  1159.0
2023-04-13 11:15:00       NaN    0.0    NaN     NaN
2023-04-13 11:30:00       NaN    0.0    NaN     NaN
2023-04-13 11:45:00       NaN    0.0    NaN     NaN
2023-04-13 12:00:00       NaN    0.0    0.0  1135.0
2023-04-13 12:15:00       NaN    0.0    NaN     NaN

#### Group by Hour because they have it by 15 mins

In [74]:
importshour = imports.groupby(pd.Grouper(freq='H')).sum()
#importshour

#imports_columns = list(importshour.columns)
#imports_columns

## Exports

#### Read CSV

In [87]:
import os

def find_file(file_name, search_path):
    """Search for a file with a specific name in the given search path."""
    for dir_path, _, file_list in os.walk(search_path):
        # Look for the file in the current directory
        if file_name in file_list:
            return os.path.join(dir_path, file_name)

    # If the file was not found
    return None

# Specify the file name and search path
file_name = "Exports.csv"
search_path = sys.path[0]

# Call the function to find the file
result = find_file(file_name, search_path)

# Check if the file was found or not
if result:
    print("File found at:", result)
else:
    print("File not found.")

'/home/gpanagioto/GitHub/AdvBA/EPF_ABA23/data/exports/DK_2/SE_4/Exports.csv'

In [98]:
exDELU = pd.read_csv(find_file('DE_LU_Exports.csv',search_path))
exDK1 = pd.read_csv(find_file('DK_1_Exports.csv', search_path))
exSE4 = pd.read_csv(find_file('SE_4_Exports.csv', search_path))

In [99]:
exDELU.head()

                  Unnamed: 0      0
0  2018-10-01 00:00:00+02:00  365.0
1  2018-10-01 01:00:00+02:00  538.0
2  2018-10-01 02:00:00+02:00  550.0
3  2018-10-01 03:00:00+02:00  584.0
4  2018-10-01 04:00:00+02:00  585.0

In [100]:
exDK1.head()

                  Unnamed: 0    0
0  2017-12-24 00:00:00+01:00  0.0
1  2017-12-24 01:00:00+01:00  0.0
2  2017-12-24 02:00:00+01:00  0.0
3  2017-12-24 03:00:00+01:00  0.0
4  2017-12-24 04:00:00+01:00  0.0

In [101]:
exSE4.head()

                  Unnamed: 0      0
0  2017-12-24 00:00:00+01:00  535.0
1  2017-12-24 01:00:00+01:00  750.0
2  2017-12-24 02:00:00+01:00  831.0
3  2017-12-24 03:00:00+01:00  650.0
4  2017-12-24 04:00:00+01:00  457.0

#### Apply Time Removal Function and makes it a Timestamp

In [180]:
exDELU = remove_utc('Unnamed: 0', 1, exDELU)
exDK1 = remove_utc('Unnamed: 0', 1, exDK1)
exSE4 = remove_utc('Unnamed: 0', 1, exSE4)

#### Make a groupby for each hour so it has the same format

In [181]:
exDELU = exDELU.groupby(pd.Grouper(freq='H')).sum()
exDK1 = exDK1.groupby(pd.Grouper(freq='H')).sum()
exSE4 = exSE4.groupby(pd.Grouper(freq='H')).sum()

#### Change columns to export specifics

In [182]:
exDELU.rename(columns = {'0':'Export De-Lu'}, inplace = True)
exDK1.rename(columns = {'0':'Export DK1'}, inplace = True)
exSE4.rename(columns = {'0':'Export SE4'}, inplace = True)

## Investing

In [184]:
# Natural Gas - TTF prices
ttf_prices = pd.read_csv('Dutch TTF Natural Gas Futures Historical Data.csv', decimal = '.')  # in €
ttf_prices['Date'] = pd.to_datetime(ttf_prices['Date'], format = '%m/%d/%Y') # convert date from string to datetime object

# drop unnecessary columns
cols_drop = [col for col in ttf_prices.columns if (col != 'Date' and col != 'Price')]
ttf_prices.drop(cols_drop, axis = 1, inplace = True)

ttf_prices.sort_values(by = ['Date'], ascending = True, inplace = True)
ttf_prices.reset_index(inplace = True, drop = True)

In [213]:
#ttf_prices

In [186]:
# CO2 emissions prices
co2_prices = pd.read_csv('Carbon Emissions Futures Historical Data.csv', decimal = '.')  # in €
co2_prices['Date'] = pd.to_datetime(co2_prices['Date'], format = '%m/%d/%Y') # convert date from string to datetime object

# drop unnecessary columns
cols_drop = [col for col in co2_prices.columns if (col != 'Date' and col != 'Price')]
co2_prices.drop(cols_drop, axis = 1, inplace = True)

co2_prices.sort_values(by = ['Date'], ascending = True, inplace = True)
co2_prices.reset_index(inplace = True, drop = True)

In [214]:
#co2_prices.head()

#co2_prices.tail()

# Pre-processing
## Adjust timeseries

In [34]:
def remove_utc(col_name, # str: name of the column that contains the object to convert to timestamp
               tz_offset, # int: timezone offset. E.g., CET = +1
               df # dataframe: contains all the info
              ):
    df['Timestamp'] = pd.to_datetime(df[col_name], format = '%Y %m %d %H:%M:%S',utc = True)
    df['Timestamp'] = (df['Timestamp'] + dt.timedelta(hours = tz_offset)).dt.tz_localize(None)
    df.drop([col_name], axis = 1, inplace = True) # drop the column
    df.set_index('Timestamp', inplace = True) # set column 'Timestamp' as index
    return df

In [57]:
day_ahead_prices2 = remove_utc('Unnamed: 0', 1, day_ahead_prices)

In [66]:
day_ahead_prices2.sort_index().head()

                         0
Timestamp
2018-01-01 00:00:00  26.33
2018-01-01 01:00:00  26.43
2018-01-01 02:00:00  26.10
2018-01-01 03:00:00  24.70
2018-01-01 04:00:00  24.74

In [63]:
day_ahead_prices.head()

                         0
Timestamp
2018-01-01 00:00:00  26.33
2018-01-01 01:00:00  26.43
2018-01-01 02:00:00  26.10
2018-01-01 03:00:00  24.70
2018-01-01 04:00:00  24.74

In [217]:
load_and_forecast  = remove_utc('Unnamed: 0', 1, load_and_forecast)

In [ ]:
load_and_forecast.tail()

In [193]:
wind_solar_forecast = remove_utc('Unnamed: 0', 1, wind_solar_forecast)

In [218]:
#wind_solar_forecast.tail()
#wind_solar_forecast.info()

## Join datasets

In [195]:
# create empty dataframe where to "pour" all the data
start = pd.to_datetime('2018-01-01 00:00:00')
end = pd.to_datetime('2023-03-31 23:59:00')
df = pd.DataFrame()
df['Timestamp'] = pd.date_range(start, end, freq = 'H')
df['Date'] = df['Timestamp'].dt.date
df.set_index('Timestamp', inplace = True)# set column 'Timestamp' as index

In [219]:
#df

In [197]:
# mapping daily prices: TTF and CO2
df['TTF'] = df['Date'].map(ttf_prices.set_index('Date')['Price'])
df['CO2'] = df['Date'].map(co2_prices.set_index('Date')['Price'])

In [220]:
#df

In [202]:
df_merged = pd.merge(df, day_ahead_prices, on = 'Timestamp', how = 'outer')
df_merged = pd.merge(df_merged, load_and_forecast, on = 'Timestamp', how = 'outer')
df_merged = pd.merge(df_merged, wind_solar_forecast, on = 'Timestamp', how = 'outer')

df_merged = pd.merge(df_merged, importshour, on = 'Timestamp', how = 'outer')

df_merged = pd.merge(df_merged, exDELU, on = 'Timestamp', how = 'outer')
df_merged = pd.merge(df_merged, exDK1, on = 'Timestamp', how = 'outer')
df_merged = pd.merge(df_merged, exSE4, on = 'Timestamp', how = 'outer')


df_merged.reset_index(inplace = True)

,Timestamp,Date,TTF,CO2,Day-ahead prices,Forecasted Load,Actual Load,Solar,Wind Offshore,Wind Onshore,DE_AT_LU,DE_LU,DK_1,SE_4,Export De-Lu,Export DK1,Export SE4
45934,2023-03-29 22:00:00,2023-03-29,42.805,90.02,94.80,1403.0,1390.0,0.0,54.0,29.0,0.0,0.0,0.0,1261.0,2406.0,176.0,0.0
45935,2023-03-29 23:00:00,2023-03-29,42.805,90.02,89.71,1324.0,1352.0,0.0,146.0,45.0,0.0,0.0,0.0,1230.0,2504.0,202.0,0.0
45936,2023-03-30 00:00:00,2023-03-30,43.609,90.80,82.25,1301.0,1343.0,0.0,159.0,56.0,0.0,0.0,0.0,1265.0,2197.0,346.0,0.0
45937,2023-03-30 01:00:00,2023-03-30,43.609,90.80,80.75,1309.0,1316.0,0.0,178.0,67.0,0.0,0.0,0.0,1192.0,2303.0,334.0,0.0
45938,2023-03-30 02:00:00,2023-03-30,43.609,90.80,78.77,1334.0,1301.0,0.0,244.0,98.0,0.0,0.0,0.0,1188.0,1976.0,500.0,0.0
45939,2023-03-30 03:00:00,2023-03-30,43.609,90.80,77.91,1335.0,1283.0,0.0,324.0,145.0,0.0,0.0,0.0,825.0,960.0,465.0,0.0
45940,2023-03-30 04:00:00,2023-03-30,43.609,90.80,76.80,1370.0,1341.0,0.0,367.0,200.0,0.0,0.0,16.0,543.0,1354.0,119.0,0.0
45941,2023-03-30 05:00:00,2023-03-30,43.609,90.80,89.93,1518.0,1524.0,0.0,442.0,264.0,0.0,1.0,476.0,23.0,854.0,0.0,53.0
45942,2023-03-30 06:00:00,2023-03-30,43.609,90.80,119.21,1699.0,1702.0,2.0,533.0,296.0,0.0,0.0,587.0,3.0,1633.0,0.0,37.0
45943,2023-03-30 07:00:00,2023-03-30,43.609,90.80,129.30,1784.0,1816.0,10.0,637.0,296.0,0.0,0.0,588.0,0.0,1257.0,0.0,337.0
45944,2023-03-30 08:00:00,2023-03-30,43.609,90.80,110.00,1835.0,1869.0,19.0,738.0,344.0,0.0,0.0,590.0,0.0,1537.0,0.0,335.0
45945,2023-03-30 09:00:00,2023-03-30,43.609,90.80,90.66,1881.0,1912.0,25.0,723.0,356.0,0.0,428.0,427.0,0.0,21.0,0.0,662.0
45946,2023-03-30 10:00:00,2023-03-30,43.609,90.80,80.00,1888.0,1926.0,31.0,694.0,321.0,0.0,1561.0,550.0,0.0,0.0,0.0,1006.0
45947,2023-03-30 11:00:00,2023-03-30,43.609,90.80,68.67,1891.0,1948.0,49.0,672.0,326.0,0.0,1578.0,565.0,0.0,0.0,0.0,900.0
45948,2023-03-30 12:00:00,2023-03-30,43.609,90.80,50.45,1904.0,1952.0,67.0,632.0,301.0,0.0,2665.0,588.0,0.0,0.0,0.0,950.0
45949,2023-03-30 13:00:00,2023-03-30,43.609,90.80,48.39,1906.0,1938.0,54.0,574.0,301.0,0.0,2772.0,584.0,0.0,0.0,0.0,1031.0
45950,2023-03-30 14:00:00,2023-03-30,43.609,90.80,49.54,1868.0,1863.0,51.0,506.0,303.0,0.0,2786.0,470.0,0.0,0.0,0.0,1078.0
45951,2023-03-30 15:00:00,2023-03-30,43.609,90.80,46.54,1862.0,1844.0,62.0,436.0,314.0,0.0,2706.0,79.0,0.0,0.0,3.0,729.0
45952,2023-03-30 16:00:00,2023-03-30,43.609,90.80,70.70,1913.0,1860.0,61.0,441.0,325.0,0.0,772.0,6.0,15.0,12.0,117.0,59.0
45953,2023-03-30 17:00:00,2023-03-30,43.609,90.80,97.55,1894.0,1834.0,26.0,535.0,335.0,0.0,1.0,326.0,46.0,1348.0,0.0,0.0
45954,2023-03-30 18:00:00,2023-03-30,43.609,90.80,119.70,1794.0,1766.0,2.0,666.0,324.0,0.0,3.0,474.0,0.0,1227.0,0.0,181.0
45955,2023-03-30 19:00:00,2023-03-30,43.609,90.80,116.50,1704.0,1698.0,0.0,749.0,334.0,0.0,0.0,550.0,59.0,2315.0,0.0,0.0
45956,2023-03-30 20:00:00,2023-03-30,43.609,90.80,100.80,1607.0,1601.0,0.0,833.0,361.0,0.0,4.0,58.0,578.0,1890.0,126.0,0.0
45957,2023-03-30 21:00:00,2023-03-30,43.609,90.80,80.77,1522.0,1486.0,0.0,833.0,374.0,0.0,0.0,0.0,807.0,2493.0,318.0,0.0
45958,2023-03-30 22:00:00,2023-03-30,43.609,90.80,60.03,1456.0,1416.0,0.0,803.0,373.0,0.0,0.0,0.0,660.0,2559.0,215.0,0.0
45959,2023-03-30 23:00:00,2023-03-30,43.609,90.80,37.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45960,2023-03-31 00:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45961,2023-03-31 01:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45962,2023-03-31 02:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45963,2023-03-31 03:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45964,2023-03-31 04:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45965,2023-03-31 05:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45966,2023-03-31 06:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45967,2023-03-31 07:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45968,2023-03-31 08:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45969,2023-03-31 09:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45970,2023-03-31 10:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45971,2023-03-31 11:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45972,2023-03-31 12:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45973,2023-03-31 13:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45974,2023-03-31 14:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45975,2023-03-31 15:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45976,2023-03-31 16:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45977,2023-03-31 17:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45978,2023-03-31 18:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45979,2023-03-31 19:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45980,2023-03-31 20:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45981,2023-03-31 21:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45982,2023-03-31 22:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45983,2023-03-31 23:00:00,2023-03-31,47.845,91.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#check the state of D f
df_merged.tail(50)

In [203]:
# add wind generation columns
df_merged['Wind Total'] = df_merged['Wind Offshore'] + df_merged['Wind Onshore']

In [204]:
#df_merged
df_merged.columns

Index(['Timestamp', 'Date', 'TTF', 'CO2', 'Day-ahead prices',
       'Forecasted Load', 'Actual Load', 'Solar', 'Wind Offshore',
       'Wind Onshore', 'DE_AT_LU', 'DE_LU', 'DK_1', 'SE_4', 'Export De-Lu',
       'Export DK1', 'Export SE4', 'Wind Total'],
      dtype='object')

So the DE_LU electricity exchange started from 10-01-2018 so before that we fill it with 0s, and before that it was DE_AT_LU which stops at 30-01-2018 and so we ignore it.

In [221]:
df_merged['Export De-Lu'].isnull().sum()

mask = (df_merged['Timestamp'] >= '2018-01-01 00:00:00') & (df_merged['Timestamp'] < '2018-09-30 23:00:00')
df_merged.loc[mask,'Export De-Lu'] = df_merged.loc[mask,'Export De-Lu'].fillna(0)

25

## Saving the resulting dataset

In [212]:
df_merged.to_csv('DK_2_imp_exp.csv', index = False)

In [222]:
#df_merged