In [1]:
import pandas as pd
import sys
import numpy as np
import datetime as datetime

In [67]:
df18 = pd.read_csv('dataset_management/data/raw/energy_data/EM-2018.csv', usecols=['MTU','Biomass  - Actual Aggregated [MW]', 'Waste  - Actual Aggregated [MW]'])

In [80]:
data18 = df18[['MTU','Biomass  - Actual Aggregated [MW]', 'Waste  - Actual Aggregated [MW]']]

In [81]:
data18['Timestamp_cet'] = data18['MTU'].apply(lambda row: row.split('-')[0])
data18['Timestamp_cest'] = data18['MTU'].apply(lambda row: row.split('-')[1].split('(')[0])

In [82]:
data18['Timestamp'] = data18['Timestamp_cet'].apply(lambda row: datetime.datetime.strptime(row, '%d.%m.%Y %H:%M '))
data18.drop(['Timestamp_cet','Timestamp_cest','MTU'], inplace=True, axis=1)
data18.set_index('Timestamp', inplace=True)

In [83]:
df19 = pd.read_csv('dataset_management/data/raw/energy_data/EM-2019.csv', usecols=['MTU','Biomass  - Actual Aggregated [MW]', 'Waste  - Actual Aggregated [MW]'])

In [105]:
data19 = df19[['MTU','Biomass  - Actual Aggregated [MW]', 'Waste  - Actual Aggregated [MW]']]
data19['Timestamp_cet'] = data19['MTU'].apply(lambda row: row.split('-')[0])
#data19['Timestamp_cest'] = data19['MTU'].apply(lambda row: row.split('-')[1].split('(')[0])
data19['Timestamp'] = data19['Timestamp_cet'].apply(lambda row: datetime.datetime.strptime(row, '%d.%m.%Y %H:%M '))
data19.drop(['Timestamp_cet','MTU'], inplace=True, axis=1)
data19['Timestamp'] = pd.to_datetime(data19['Timestamp'])
data19.set_index('Timestamp', inplace=True)

In [106]:
data19.head()

,Biomass - Actual Aggregated [MW],Waste - Actual Aggregated [MW]
Timestamp,,
2019-01-01 00:00:00,306.0,44.0
2019-01-01 01:00:00,259.0,42.0
2019-01-01 02:00:00,242.0,43.0
2019-01-01 03:00:00,248.0,43.0
2019-01-01 04:00:00,241.0,43.0

In [88]:
pd.concat([data18, data19], ignore_index=False)

,Biomass - Actual Aggregated [MW],Waste - Actual Aggregated [MW]
Timestamp,,
2018-01-01 00:00:00,387.0,51.0
2018-01-01 01:00:00,388.0,51.0
2018-01-01 02:00:00,387.0,51.0
2018-01-01 03:00:00,387.0,50.0
2018-01-01 04:00:00,380.0,51.0
...,...,...
2019-12-31 19:00:00,515.0,73.0
2019-12-31 20:00:00,508.0,72.0
2019-12-31 21:00:00,500.0,72.0
2019-12-31 22:00:00,485.0,73.0
2019-12-31 23:00:00,468.0,73.0

In [42]:
data.set_index('Timestamp', inplace=True)

In [97]:
data = pd.DataFrame()
data = pd.concat([data,data18], ignore_index=False)
data =  pd.concat([data,data19], ignore_index=False)

In [98]:
data.head()

,Biomass - Actual Aggregated [MW],Waste - Actual Aggregated [MW]
Timestamp,,
2018-01-01 00:00:00,387.0,51.0
2018-01-01 01:00:00,388.0,51.0
2018-01-01 02:00:00,387.0,51.0
2018-01-01 03:00:00,387.0,50.0
2018-01-01 04:00:00,380.0,51.0

In [48]:
import os

In [53]:
os.listdir('dataset_management/data/raw/entsoe/main/DK_2/')

['Wind_Solar_Forecast.csv', 'Load_And_Forecast.csv', 'Day_Ahead_Prices.csv']

In [99]:
df = pd.read_csv('dataset_management/data/raw/entsoe/main/DK_2/Wind_Solar_Forecast.csv', index_col = 0)
df.index.rename('Timestamp', inplace=True)

if df.columns[0] == 'Unnamed: 0' and '0' in df.columns:
    df.drop('Unnamed: 0', axis=1, inplace=True)

    try:
        if file_name == "Day_Ahead_Prices.csv":
            name = file_name.split('.')[0]
        else:
                name = file_name.split('.')[0] + '_Volume'

        df.rename(columns={'0':name}, inplace = True, errors="raise")
            
    except:
        pass

df.index = pd.to_datetime(df.index, format = '%Y %m %d %H:%M:%S', utc = False)
df.index = df.index.to_series().apply(lambda row: (row - datetime.timedelta(hours=1)) if str(row).split('+')[1]=='02:00' else row)        #df.index = df.index.to_series().apply(lambda row: row.astimezone(pytz.timezone("Europe/Copenhagen")))   
df.index = df.index.to_series().apply(lambda row: row.replace(tzinfo=None))

In [100]:
pd.merge(df, data, left_index=True, right_index=True, how='outer')

,Solar,Wind Offshore,Wind Onshore,Biomass - Actual Aggregated [MW],Waste - Actual Aggregated [MW]
Timestamp,,,,,
2017-12-24 00:00:00,0.0,201.0,498.0,NaN,NaN
2017-12-24 01:00:00,0.0,204.0,506.0,NaN,NaN
2017-12-24 02:00:00,0.0,203.0,511.0,NaN,NaN
2017-12-24 03:00:00,0.0,202.0,513.0,NaN,NaN
2017-12-24 04:00:00,0.0,202.0,497.0,NaN,NaN
...,...,...,...,...,...
2023-04-19 18:00:00,44.0,812.0,221.0,NaN,NaN
2023-04-19 19:00:00,2.0,804.0,219.0,NaN,NaN
2023-04-19 20:00:00,0.0,850.0,268.0,NaN,NaN
2023-04-19 21:00:00,0.0,861.0,325.0,NaN,NaN
2023-04-19 22:00:00,0.0,849.0,348.0,NaN,NaN

In [66]:
df.head()

                     Solar  Wind Offshore  Wind Onshore
Timestamp
2017-12-24 00:00:00    0.0          201.0         498.0
2017-12-24 01:00:00    0.0          204.0         506.0
2017-12-24 02:00:00    0.0          203.0         511.0
2017-12-24 03:00:00    0.0          202.0         513.0
2017-12-24 04:00:00    0.0          202.0         497.0

In [128]:
check = pd.read_csv('dataset_management/data/merged/merged.csv', index_col=0, parse_dates=True)

/tmp/ipykernel_8344/1663842167.py:1: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  check = pd.read_csv('dataset_management/data/merged/merged.csv', index_col=0, parse_dates=True)

In [129]:
check.head()

,DE_AT_LU,DE_LU,DK_1,SE_4,DE_AT_LU_Exports_Volume,DE_LU_Exports_Volume,DK_1_Exports_Volume,SE_4_Exports_Volume,Day_Ahead_Prices,Forecasted Load,Actual Load,Solar,Wind Offshore,Wind Onshore,TTF=F_Price,CFI2Z3_Price,CO2_prices_Price,Biomass - Actual Aggregated [MW],Waste - Actual Aggregated [MW]
Timestamp,,,,,,,,,,,,,,,,,,,
2017-12-24 00:00:00,555.0,0.0,259.0,0.0,0.0,NaN,0.0,535.0,-40.84,1303.0,1302.0,0.0,201.0,498.0,NaN,NaN,NaN,NaN,NaN
2017-12-24 01:00:00,599.0,0.0,390.0,0.0,0.0,NaN,0.0,750.0,-43.18,1236.0,1252.0,0.0,204.0,506.0,NaN,NaN,NaN,NaN,NaN
2017-12-24 02:00:00,600.0,0.0,445.0,0.0,0.0,NaN,0.0,831.0,-50.04,1204.0,1230.0,0.0,203.0,511.0,NaN,NaN,NaN,NaN,NaN
2017-12-24 03:00:00,600.0,0.0,250.0,0.0,0.0,NaN,0.0,650.0,-42.31,1195.0,1194.0,0.0,202.0,513.0,NaN,NaN,NaN,NaN,NaN
2017-12-24 04:00:00,600.0,0.0,68.0,0.0,0.0,NaN,0.0,457.0,-40.09,1189.0,1179.0,0.0,202.0,497.0,NaN,NaN,NaN,NaN,NaN

In [130]:
check.isna().sum()

DE_AT_LU                                46
DE_LU                                   46
DK_1                                    46
SE_4                                    46
DE_AT_LU_Exports_Volume              39963
DE_LU_Exports_Volume                  6813
DK_1_Exports_Volume                     70
SE_4_Exports_Volume                     70
Day_Ahead_Prices                        69
Forecasted Load                         70
Actual Load                             70
Solar                                   70
Wind Offshore                           70
Wind Onshore                            70
TTF=F_Price                          45372
CFI2Z3_Price                         45343
CO2_prices_Price                     45419
Biomass  - Actual Aggregated [MW]      201
Waste  - Actual Aggregated [MW]        201
dtype: int64

In [131]:
check.tail()

,DE_AT_LU,DE_LU,DK_1,SE_4,DE_AT_LU_Exports_Volume,DE_LU_Exports_Volume,DK_1_Exports_Volume,SE_4_Exports_Volume,Day_Ahead_Prices,Forecasted Load,Actual Load,Solar,Wind Offshore,Wind Onshore,TTF=F_Price,CFI2Z3_Price,CO2_prices_Price,Biomass - Actual Aggregated [MW],Waste - Actual Aggregated [MW]
Timestamp,,,,,,,,,,,,,,,,,,,
2023-04-22 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-
2023-04-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-
2023-04-22 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-
2023-04-22 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-
2023-04-22 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-