In [5]:
%load_ext autoreload
import pandas as pd
import datetime as dt
from datetime import datetime, timezone
import numpy as np
import matplotlib.pyplot as plt
import sys
from merging import find_file, get_variable_name, Merging 
%autoreload 1
%aimport merging
import pytz
import investpy

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
search_path = sys.path[0]
# Specify the file name and search path
files_names = {
               "imports":"Imports.csv",
               "DE_LU":"DE_LU_Exports.csv",
               "DK_1": "DK_1_Exports.csv",
               "SE_4": "SE_4_Exports.csv",
               "Day_Ahead_Prices":"Day_Ahead_Prices.csv",
               "Load_And_Forecast":"Load_And_Forecast.csv",
               "Wind_Solar_Forecast":"Wind_Solar_Forecast.csv",
               "TTF":"TTF=F.csv",
               "COAL":"CFI2Z3.csv",
               "CO2":"CO2_prices.csv"
              }

In [9]:
search_path

'/home/gpanagioto/GitHub/AdvBA/EPF_ABA23'

In [41]:
data = Merging(search_path)

In [152]:
day_ahead_prices = data.entsoe_timestamp(files_names['Day_Ahead_Prices'])
day_ahead_prices.tail()

                     Day_Ahead_Prices
Timestamp
2023-04-14 19:00:00            152.21
2023-04-14 20:00:00            151.00
2023-04-14 21:00:00            134.33
2023-04-14 22:00:00             82.61
2023-04-14 23:00:00            123.90

In [120]:
day_ahead_prices.head()

                     Day_Ahead_Prices_Price
Timestamp
2017-12-31 23:00:00                   26.33
2018-01-01 00:00:00                   26.43
2018-01-01 01:00:00                   26.10
2018-01-01 02:00:00                   24.70
2018-01-01 03:00:00                   24.74

In [155]:
load_and_forecast =  data.entsoe_timestamp(files_names['Load_And_Forecast'])

In [156]:
load_and_forecast.tail()

                     Forecasted Load  Actual Load
Timestamp
2023-04-14 18:00:00           1680.0       1665.0
2023-04-14 19:00:00           1578.0       1578.0
2023-04-14 20:00:00           1496.0       1488.0
2023-04-14 21:00:00           1431.0       1402.0
2023-04-14 22:00:00           1366.0       1332.0

In [179]:
load_and_forecast[load_and_forecast.index.date==pd.to_datetime('2018-01-01')]

/tmp/ipykernel_712905/567094159.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  load_and_forecast[load_and_forecast.index.date==pd.to_datetime('2018-01-01')]

                     Forecasted Load  Actual Load
Timestamp
2018-01-01 00:00:00           1591.0       1607.0
2018-01-01 01:00:00           1541.0       1566.0
2018-01-01 02:00:00           1497.0       1460.0
2018-01-01 03:00:00           1426.0       1424.0
2018-01-01 04:00:00           1378.0       1380.0
2018-01-01 05:00:00           1339.0       1297.0
2018-01-01 06:00:00           1288.0       1267.0
2018-01-01 07:00:00           1304.0       1311.0
2018-01-01 08:00:00           1347.0       1315.0
2018-01-01 09:00:00           1360.0       1353.0
2018-01-01 10:00:00           1454.0       1458.0
2018-01-01 11:00:00           1537.0       1532.0
2018-01-01 12:00:00           1557.0       1553.0
2018-01-01 13:00:00           1568.0       1565.0
2018-01-01 14:00:00           1588.0       1610.0
2018-01-01 15:00:00           1650.0       1616.0
2018-01-01 16:00:00           1734.0       1752.0
2018-01-01 17:00:00           1848.0       1825.0
2018-01-01 18:00:00           1793.0       1786.0
2018-01-01 19:00:00           1703.0       1708.0
2018-01-01 20:00:00           1621.0       1624.0
2018-01-01 21:00:00           1524.0       1508.0
2018-01-01 22:00:00           1426.0       1411.0
2018-01-01 23:00:00           1344.0       1338.0

In [157]:
wind_solar_forecast = data.entsoe_timestamp(files_names['Wind_Solar_Forecast'])

In [158]:
wind_solar_forecast.tail()

                     Solar  Wind Offshore  Wind Onshore
Timestamp
2023-04-14 18:00:00   12.0          468.0          86.0
2023-04-14 19:00:00    1.0          497.0          96.0
2023-04-14 20:00:00    0.0          543.0         108.0
2023-04-14 21:00:00    0.0          544.0         112.0
2023-04-14 22:00:00    0.0          546.0         105.0

In [159]:
imports = data.entsoe_timestamp(files_names['imports'])

In [160]:
imports.tail()

                     DE_AT_LU  DE_LU   DK_1    SE_4
Timestamp
2023-04-14 18:00:00       0.0    0.0  102.0   613.0
2023-04-14 19:00:00       0.0    0.0    0.0  1050.0
2023-04-14 20:00:00       0.0    0.0    0.0  1172.0
2023-04-14 21:00:00       0.0    0.0    0.0  1160.0
2023-04-14 22:00:00       0.0    0.0    0.0  1120.0

In [161]:
exDELU = data.entsoe_timestamp(files_names['DE_LU'])
exDK1 =  data.entsoe_timestamp(files_names['DK_1'])
exSE4 =  data.entsoe_timestamp(files_names['SE_4'])

In [162]:
exDELU.tail()

                     DE_LU_Exports_Volume
Timestamp
2023-04-14 18:00:00                2716.0
2023-04-14 19:00:00                2514.0
2023-04-14 20:00:00                3089.0
2023-04-14 21:00:00                3058.0
2023-04-14 22:00:00                2925.0

In [163]:
exDELU.tail()

                     DE_LU_Exports_Volume
Timestamp
2023-04-14 18:00:00                2716.0
2023-04-14 19:00:00                2514.0
2023-04-14 20:00:00                3089.0
2023-04-14 21:00:00                3058.0
2023-04-14 22:00:00                2925.0

In [164]:
exDK1.tail()

                     DK_1_Exports_Volume
Timestamp
2023-04-14 18:00:00                 15.0
2023-04-14 19:00:00                437.0
2023-04-14 20:00:00                478.0
2023-04-14 21:00:00                542.0
2023-04-14 22:00:00                596.0

In [165]:
exSE4.tail()

                     SE_4_Exports_Volume
Timestamp
2023-04-14 18:00:00                  0.0
2023-04-14 19:00:00                  0.0
2023-04-14 20:00:00                  0.0
2023-04-14 21:00:00                  0.0
2023-04-14 22:00:00                  0.0

In [166]:
co2 = data.yahoo_timestamp(files_names['CO2'])

In [167]:
co2.tail()

            CO2_prices_Price
Timestamp
2022-12-23             86.85
2022-12-27             86.08
2022-12-28             84.13
2022-12-29             82.36
2022-12-30             79.40

In [168]:
ttf = data.yahoo_timestamp(files_names['TTF'])

In [169]:
ttf.head()

            TTF=F_Price
Timestamp
2018-01-02    19.320000
2018-01-03    19.325001
2018-01-04    19.200001
2018-01-05    18.915001
2018-01-08    19.049999

In [170]:
coal = data.yahoo_timestamp(files_names['COAL'])

In [171]:
coal.head()

            CFI2Z3_Price
Timestamp
2017-12-29        100.80
2018-01-02        102.65
2018-01-03        103.80
2018-01-04        104.95
2018-01-05        105.30

In [172]:
joined =  data.dataframes_joining([co2, coal, ttf])

In [173]:
joined.head()

            CO2_prices_Price  CFI2Z3_Price  TTF=F_Price
Timestamp
2017-12-29               NaN        100.80          NaN
2018-01-02              8.22        102.65    19.320000
2018-01-03              8.24        103.80    19.325001
2018-01-04              8.18        104.95    19.200001
2018-01-05              8.19        105.30    18.915001

In [174]:
joined_2 = data.dataframes_joining([day_ahead_prices, wind_solar_forecast, load_and_forecast, exDELU, exDK1, exSE4, imports])

In [175]:
joined_2[joined_2.index.date==pd.to_datetime('2018-01-01')].head()

/tmp/ipykernel_712905/2625499521.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  joined_2[joined_2.index.date==pd.to_datetime('2018-01-01')].head()

,Day_Ahead_Prices,Solar,Wind Offshore,Wind Onshore,Forecasted Load,Actual Load,DE_LU_Exports_Volume,DK_1_Exports_Volume,SE_4_Exports_Volume,DE_AT_LU,DE_LU,DK_1,SE_4
Timestamp,,,,,,,,,,,,,
2018-01-01 00:00:00,26.33,0.0,245.0,339.0,1591.0,1607.0,NaN,0.0,880.0,600.0,0.0,585.0,0.0
2018-01-01 01:00:00,26.43,0.0,264.0,347.0,1541.0,1566.0,NaN,0.0,882.0,600.0,0.0,590.0,0.0
2018-01-01 02:00:00,26.10,0.0,291.0,356.0,1497.0,1460.0,NaN,0.0,922.0,600.0,0.0,476.0,0.0
2018-01-01 03:00:00,24.70,0.0,300.0,363.0,1426.0,1424.0,NaN,0.0,1087.0,600.0,0.0,538.0,0.0
2018-01-01 04:00:00,24.74,0.0,336.0,385.0,1378.0,1380.0,NaN,0.0,1095.0,600.0,0.0,520.0,0.0

In [176]:
final = joined.join(joined_2, how='outer')

In [177]:
final[final.index.date==pd.to_datetime('2018-01-01')].head()

/tmp/ipykernel_712905/2182500595.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  final[final.index.date==pd.to_datetime('2018-01-01')].head()

,CO2_prices_Price,CFI2Z3_Price,TTF=F_Price,Day_Ahead_Prices,Solar,Wind Offshore,Wind Onshore,Forecasted Load,Actual Load,DE_LU_Exports_Volume,DK_1_Exports_Volume,SE_4_Exports_Volume,DE_AT_LU,DE_LU,DK_1,SE_4
Timestamp,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,NaN,NaN,NaN,26.33,0.0,245.0,339.0,1591.0,1607.0,NaN,0.0,880.0,600.0,0.0,585.0,0.0
2018-01-01 01:00:00,NaN,NaN,NaN,26.43,0.0,264.0,347.0,1541.0,1566.0,NaN,0.0,882.0,600.0,0.0,590.0,0.0
2018-01-01 02:00:00,NaN,NaN,NaN,26.10,0.0,291.0,356.0,1497.0,1460.0,NaN,0.0,922.0,600.0,0.0,476.0,0.0
2018-01-01 03:00:00,NaN,NaN,NaN,24.70,0.0,300.0,363.0,1426.0,1424.0,NaN,0.0,1087.0,600.0,0.0,538.0,0.0
2018-01-01 04:00:00,NaN,NaN,NaN,24.74,0.0,336.0,385.0,1378.0,1380.0,NaN,0.0,1095.0,600.0,0.0,520.0,0.0

In [180]:
test = pd.DataFrame()

In [181]:
test.head()

Empty DataFrame
Columns: []
Index: []

In [184]:
co2.head()

            CO2_prices_Price
Timestamp
2018-01-02              8.22
2018-01-03              8.24
2018-01-04              8.18
2018-01-05              8.19
2018-01-08              8.07

In [189]:
merged_df = pd.merge(test, co2, left_index=True, right_index=True ,how='outer')

In [190]:
merged_df.head()

            CO2_prices_Price
Timestamp
2018-01-02              8.22
2018-01-03              8.24
2018-01-04              8.18
2018-01-05              8.19
2018-01-08              8.07

In [219]:
merged_df.shape

(1287, 1)

In [191]:
merged_df.shape == co2.shape

True

In [205]:
test = pd.read_csv('data/merge/merged.csv', index_col=0)

In [206]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46513 entries, 2017-12-24 00:00:00 to 2023-04-17 00:00:00
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DE_AT_LU              46319 non-null  float64
 1   DE_LU                 46319 non-null  float64
 2   DK_1                  46319 non-null  float64
 3   SE_4                  46319 non-null  float64
 4   DE_LU_Exports_Volume  39768 non-null  float64
 5   DK_1_Exports_Volume   46511 non-null  float64
 6   SE_4_Exports_Volume   46511 non-null  float64
 7   Day_Ahead_Prices      46320 non-null  float64
 8   Forecasted Load       46319 non-null  float64
 9   Actual Load           46319 non-null  float64
 10  Solar                 46319 non-null  float64
 11  Wind Offshore         46319 non-null  float64
 12  Wind Onshore          46319 non-null  float64
 13  TTF=F_Price           1332 non-null   float64
 14  CFI2Z3_Price          1363 non-null   float64
 15  CO2_prices_Price      1287 non-null   float64
dtypes: float64(16)
memory usage: 6.0+ MB

In [207]:
test.head()

,DE_AT_LU,DE_LU,DK_1,SE_4,DE_LU_Exports_Volume,DK_1_Exports_Volume,SE_4_Exports_Volume,Day_Ahead_Prices,Forecasted Load,Actual Load,Solar,Wind Offshore,Wind Onshore,TTF=F_Price,CFI2Z3_Price,CO2_prices_Price
Timestamp,,,,,,,,,,,,,,,,
2017-12-24 00:00:00,NaN,NaN,NaN,NaN,NaN,0.0,535.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-24 01:00:00,NaN,NaN,NaN,NaN,NaN,0.0,750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-24 02:00:00,NaN,NaN,NaN,NaN,NaN,0.0,831.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-24 03:00:00,NaN,NaN,NaN,NaN,NaN,0.0,650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-24 04:00:00,NaN,NaN,NaN,NaN,NaN,0.0,457.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
test.index = pd.to_datetime(test.index, format = '%Y %m %d %H:%M:%S', utc = False)

In [230]:
test[test.index.date==pd.to_datetime('2018-01-03')].head(50)

/tmp/ipykernel_712905/114002814.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  test[test.index.date==pd.to_datetime('2018-01-03')].head(50)

,DE_AT_LU,DE_LU,DK_1,SE_4,DE_LU_Exports_Volume,DK_1_Exports_Volume,SE_4_Exports_Volume,Day_Ahead_Prices,Forecasted Load,Actual Load,Solar,Wind Offshore,Wind Onshore,TTF=F_Price,CFI2Z3_Price,CO2_prices_Price
Timestamp,,,,,,,,,,,,,,,,
2018-01-03 00:00:00,600.0,0.0,590.0,0.0,NaN,0.0,933.0,18.11,1258.0,1352.0,0.0,266.0,276.0,19.325001,103.8,8.24
2018-01-03 01:00:00,600.0,0.0,590.0,0.0,NaN,0.0,1079.0,1.38,1197.0,1261.0,0.0,307.0,318.0,NaN,NaN,NaN
2018-01-03 02:00:00,600.0,0.0,576.0,0.0,NaN,0.0,1228.0,0.02,1176.0,1167.0,0.0,342.0,378.0,NaN,NaN,NaN
2018-01-03 03:00:00,600.0,0.0,425.0,0.0,NaN,0.0,1115.0,-5.99,1190.0,1113.0,0.0,362.0,446.0,NaN,NaN,NaN
2018-01-03 04:00:00,600.0,0.0,431.0,0.0,NaN,0.0,1143.0,-9.21,1228.0,1161.0,0.0,362.0,490.0,NaN,NaN,NaN
2018-01-03 05:00:00,600.0,0.0,565.0,0.0,NaN,0.0,1210.0,-4.64,1340.0,1388.0,0.0,356.0,526.0,NaN,NaN,NaN
2018-01-03 06:00:00,600.0,0.0,563.0,0.0,NaN,0.0,1048.0,18.51,1574.0,1599.0,0.0,361.0,556.0,NaN,NaN,NaN
2018-01-03 07:00:00,600.0,0.0,574.0,0.0,NaN,0.0,897.0,28.95,1850.0,1861.0,0.0,360.0,487.0,NaN,NaN,NaN
2018-01-03 08:00:00,600.0,0.0,455.0,0.0,NaN,0.0,715.0,29.20,1960.0,1993.0,0.0,359.0,497.0,NaN,NaN,NaN
2018-01-03 09:00:00,600.0,0.0,289.0,0.0,NaN,0.0,503.0,29.28,1997.0,2017.0,1.0,357.0,494.0,NaN,NaN,NaN
2018-01-03 10:00:00,600.0,0.0,97.0,12.0,NaN,18.0,167.0,29.42,2029.0,2026.0,4.0,354.0,443.0,NaN,NaN,NaN
2018-01-03 11:00:00,600.0,0.0,0.0,127.0,NaN,82.0,0.0,29.25,2015.0,2034.0,5.0,341.0,352.0,NaN,NaN,NaN
2018-01-03 12:00:00,600.0,0.0,0.0,247.0,NaN,83.0,0.0,29.23,2026.0,2069.0,6.0,317.0,284.0,NaN,NaN,NaN
2018-01-03 13:00:00,600.0,0.0,0.0,259.0,NaN,15.0,0.0,29.49,2015.0,2067.0,5.0,310.0,229.0,NaN,NaN,NaN
2018-01-03 14:00:00,600.0,0.0,0.0,432.0,NaN,150.0,0.0,29.86,1989.0,2033.0,3.0,289.0,181.0,NaN,NaN,NaN
2018-01-03 15:00:00,600.0,0.0,3.0,350.0,NaN,1.0,0.0,30.51,1998.0,2017.0,1.0,278.0,152.0,NaN,NaN,NaN
2018-01-03 16:00:00,600.0,0.0,0.0,412.0,NaN,0.0,0.0,31.33,2134.0,2116.0,0.0,279.0,120.0,NaN,NaN,NaN
2018-01-03 17:00:00,600.0,0.0,8.0,567.0,NaN,0.0,0.0,31.59,2258.0,2263.0,0.0,272.0,94.0,NaN,NaN,NaN
2018-01-03 18:00:00,600.0,0.0,138.0,563.0,NaN,0.0,0.0,30.78,2173.0,2225.0,0.0,259.0,85.0,NaN,NaN,NaN
2018-01-03 19:00:00,600.0,0.0,3.0,560.0,NaN,2.0,0.0,30.15,2040.0,2080.0,0.0,253.0,72.0,NaN,NaN,NaN
2018-01-03 20:00:00,600.0,0.0,0.0,425.0,NaN,131.0,0.0,29.37,1902.0,1921.0,0.0,270.0,65.0,NaN,NaN,NaN
2018-01-03 21:00:00,600.0,0.0,141.0,126.0,NaN,1.0,0.0,28.93,1769.0,1797.0,0.0,293.0,85.0,NaN,NaN,NaN
2018-01-03 22:00:00,600.0,0.0,290.0,0.0,NaN,0.0,188.0,28.13,1632.0,1663.0,0.0,311.0,96.0,NaN,NaN,NaN
2018-01-03 23:00:00,600.0,0.0,163.0,0.0,NaN,0.0,117.0,27.31,1500.0,1528.0,0.0,313.0,84.0,NaN,NaN,NaN

In [215]:
test.isna().sum()

DE_AT_LU                  194
DE_LU                     194
DK_1                      194
SE_4                      194
DE_LU_Exports_Volume     6745
DK_1_Exports_Volume         2
SE_4_Exports_Volume         2
Day_Ahead_Prices          193
Forecasted Load           194
Actual Load               194
Solar                     194
Wind Offshore             194
Wind Onshore              194
TTF=F_Price             45181
CFI2Z3_Price            45150
CO2_prices_Price        45226
dtype: int64

In [218]:
test.shape, final.shape

((46513, 16), (1287, 1))

In [197]:
empty = pd.DataFrame()

In [198]:
final = pd.merge(empty, co2, left_index=True, right_index=True , how='outer')

In [199]:
final.head()

            CO2_prices_Price
Timestamp
2018-01-02              8.22
2018-01-03              8.24
2018-01-04              8.18
2018-01-05              8.19
2018-01-08              8.07

In [200]:
check = pd.merge(final, ttf, left_index=True, right_index=True , how='outer')

In [201]:
check.head()

            CO2_prices_Price  TTF=F_Price
Timestamp
2018-01-02              8.22    19.320000
2018-01-03              8.24    19.325001
2018-01-04              8.18    19.200001
2018-01-05              8.19    18.915001
2018-01-08              8.07    19.049999

In [221]:
check.shape

(1364, 2)

In [222]:
day_ahead_prices.shape

(46320, 1)

In [223]:
test['CO2_prices_Price']

Timestamp
2017-12-24 00:00:00   NaN
2017-12-24 01:00:00   NaN
2017-12-24 02:00:00   NaN
2017-12-24 03:00:00   NaN
2017-12-24 04:00:00   NaN
                       ..
2023-04-14 20:00:00   NaN
2023-04-14 21:00:00   NaN
2023-04-14 22:00:00   NaN
2023-04-14 23:00:00   NaN
2023-04-17 00:00:00   NaN
Name: CO2_prices_Price, Length: 46513, dtype: float64

In [225]:
co2[co2['CO2_prices_Price'].isna()==False].shape

(1287, 1)

In [226]:
test.shape[0] - co2[co2['CO2_prices_Price'].isna()==False].shape[0]

45226

In [ ]:
test