In [1]:
import pandas as pd
import datetime as dt
from datetime import datetime, timezone
import numpy as np
import matplotlib.pyplot as plt
import sys
from merging import FindFile, Merging
import pytz
import investpy

In [6]:
import requests
from bs4 import BeautifulSoup

In [10]:
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; \
    Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) \
    Chrome/84.0.4147.105 Safari/537.36'}

url = 'https://www.investing.com/commodities/dutch-ttf-gas-c1-futures'

In [14]:
page = requests.get(url,headers=headers)
try:
    soup = BeautifulSoup(page.text, 'html.parser')
    company = soup.find('h1', {'class': 'text-2xl font-semibold \instrument-header_title__gCaMF \mobile:mb-2'}).text
except AttributeError:
    print(AttributeError)

<class 'AttributeError'>

In [2]:
search_path = sys.path[0]
# Specify the file name and search path
files_names = {
               "imports":"Imports.csv",
               "DE_LU":"DE_LU_Exports.csv",
               "DK_1": "DK_1_Exports.csv",
               "SE_4": "SE_4_Exports.csv",
               "Day_Ahead_Prices":"Day_Ahead_Prices.csv",
               "Load_And_Forecast":"Load_And_Forecast.csv",
               "Wind_Solar_Forecast":"Wind_Solar_Forecast.csv"
              }

In [3]:
search_path

'/home/gpanagioto/GitHub/AdvBA/EPF_ABA23'

In [4]:
data = Merging(search_path)

In [5]:
files_names['Day_Ahead_Prices']

'Day_Ahead_Prices.csv'

In [6]:
day_ahead_prices = data.Timestamp(files_names['Day_Ahead_Prices'])

In [7]:
'0' in day_ahead_prices.columns

False

In [8]:
day_ahead_prices.head()

                     Electricity Price
Timestamp
2018-01-01 00:00:00              26.33
2018-01-01 01:00:00              26.43
2018-01-01 02:00:00              26.10
2018-01-01 03:00:00              24.70
2018-01-01 04:00:00              24.74

In [9]:
day_ahead_prices.rename(columns={'0':'Electricity'}, inplace = True, errors="raise")
day_ahead_prices.head()

KeyError: "['0'] not found in axis"

In [10]:
load_and_forecast =  data.Timestamp(files_names['Load_And_Forecast'])

In [11]:
load_and_forecast.head()

                     Forecasted Load  Actual Load
Timestamp
2018-01-01 00:00:00           1591.0       1607.0
2018-01-01 01:00:00           1541.0       1566.0
2018-01-01 02:00:00           1497.0       1460.0
2018-01-01 03:00:00           1426.0       1424.0
2018-01-01 04:00:00           1378.0       1380.0

In [12]:
wind_solar_forecast = data.Timestamp(files_names['Wind_Solar_Forecast'])

In [13]:
wind_solar_forecast.head()

                     Solar  Wind Offshore  Wind Onshore
Timestamp
2018-01-01 00:00:00    0.0          245.0         339.0
2018-01-01 01:00:00    0.0          264.0         347.0
2018-01-01 02:00:00    0.0          291.0         356.0
2018-01-01 03:00:00    0.0          300.0         363.0
2018-01-01 04:00:00    0.0          336.0         385.0

In [14]:
imports = data.Timestamp(files_names['imports'])

In [15]:
imports.head()

                     DE_AT_LU  DE_LU   DK_1  SE_4
Timestamp
2018-01-01 00:00:00     600.0    NaN  585.0   0.0
2018-01-01 01:00:00     600.0    NaN  590.0   0.0
2018-01-01 02:00:00     600.0    NaN  476.0   0.0
2018-01-01 03:00:00     600.0    NaN  538.0   0.0
2018-01-01 04:00:00     600.0    NaN  520.0   0.0

In [ ]:
exDELU = data.Timestamp(files_names['DE_LU'])
exDK1 =  data.Timestamp(files_names['DK_1'])
exSE4 =  data.Timestamp(files_names['SE_4'])

In [ ]:
exDELU.head()

In [ ]:
exDK1.head()

In [ ]:
exSE4.head()

In [ ]:
exDELU = Timestamp('Unnamed: 0', 1, exDELU)

In [ ]:
exDELU.head()

In [ ]:
exSE4 = Timestamp('Unnamed: 0', 1, exSE4)

In [ ]:
exSE4.head()