In [41]:
import pandas as pd
import sys
import numpy as np
import datetime as datetime

In [2]:
df = pd.read_csv('EM-2018.csv')

In [3]:
df.head()

,Area,MTU,Biomass - Actual Aggregated [MW],Fossil Brown coal/Lignite - Actual Aggregated [MW],Fossil Coal-derived gas - Actual Aggregated [MW],Fossil Gas - Actual Aggregated [MW],Fossil Hard coal - Actual Aggregated [MW],Fossil Oil - Actual Aggregated [MW],Fossil Oil shale - Actual Aggregated [MW],Fossil Peat - Actual Aggregated [MW],...,Hydro Run-of-river and poundage - Actual Aggregated [MW],Hydro Water Reservoir - Actual Aggregated [MW],Marine - Actual Aggregated [MW],Nuclear - Actual Aggregated [MW],Other - Actual Aggregated [MW],Other renewable - Actual Aggregated [MW],Solar - Actual Aggregated [MW],Waste - Actual Aggregated [MW],Wind Offshore - Actual Aggregated [MW],Wind Onshore - Actual Aggregated [MW]
0,BZN|DK2,01.01.2018 00:00 - 01.01.2018 01:00 (CET/CEST),387.0,n/e,n/e,79.0,69.0,27.0,n/e,n/e,...,n/e,n/e,n/e,n/e,n/e,n/e,0.0,51.0,294.0,364.0
1,BZN|DK2,01.01.2018 01:00 - 01.01.2018 02:00 (CET/CEST),388.0,n/e,n/e,73.0,69.0,27.0,n/e,n/e,...,n/e,n/e,n/e,n/e,n/e,n/e,0.0,51.0,255.0,363.0
2,BZN|DK2,01.01.2018 02:00 - 01.01.2018 03:00 (CET/CEST),387.0,n/e,n/e,72.0,68.0,27.0,n/e,n/e,...,n/e,n/e,n/e,n/e,n/e,n/e,0.0,51.0,307.0,363.0
3,BZN|DK2,01.01.2018 03:00 - 01.01.2018 04:00 (CET/CEST),387.0,n/e,n/e,73.0,68.0,27.0,n/e,n/e,...,n/e,n/e,n/e,n/e,n/e,n/e,0.0,50.0,364.0,379.0
4,BZN|DK2,01.01.2018 04:00 - 01.01.2018 05:00 (CET/CEST),380.0,n/e,n/e,70.0,71.0,27.0,n/e,n/e,...,n/e,n/e,n/e,n/e,n/e,n/e,0.0,51.0,347.0,384.0

In [4]:
df.columns

Index(['Area', 'MTU', 'Biomass  - Actual Aggregated [MW]',
       'Fossil Brown coal/Lignite  - Actual Aggregated [MW]',
       'Fossil Coal-derived gas  - Actual Aggregated [MW]',
       'Fossil Gas  - Actual Aggregated [MW]',
       'Fossil Hard coal  - Actual Aggregated [MW]',
       'Fossil Oil  - Actual Aggregated [MW]',
       'Fossil Oil shale  - Actual Aggregated [MW]',
       'Fossil Peat  - Actual Aggregated [MW]',
       'Geothermal  - Actual Aggregated [MW]',
       'Hydro Pumped Storage  - Actual Aggregated [MW]',
       'Hydro Pumped Storage  - Actual Consumption [MW]',
       'Hydro Run-of-river and poundage  - Actual Aggregated [MW]',
       'Hydro Water Reservoir  - Actual Aggregated [MW]',
       'Marine  - Actual Aggregated [MW]', 'Nuclear  - Actual Aggregated [MW]',
       'Other  - Actual Aggregated [MW]',
       'Other renewable  - Actual Aggregated [MW]',
       'Solar  - Actual Aggregated [MW]', 'Waste  - Actual Aggregated [MW]',
       'Wind Offshore  - Actual Aggregated [MW]',
       'Wind Onshore  - Actual Aggregated [MW]'],
      dtype='object')

In [12]:
for column in df.columns:
    df[column] = df[column].apply(lambda row: np.nan if row == 'n/e' else row)

In [15]:
df.shape

(8761, 23)

In [16]:
df.isna().sum() / df.shape[0] * 100

Area                                                           0.000000
MTU                                                            0.000000
Biomass  - Actual Aggregated [MW]                              0.011414
Fossil Brown coal/Lignite  - Actual Aggregated [MW]          100.000000
Fossil Coal-derived gas  - Actual Aggregated [MW]            100.000000
Fossil Gas  - Actual Aggregated [MW]                           0.011414
Fossil Hard coal  - Actual Aggregated [MW]                     0.011414
Fossil Oil  - Actual Aggregated [MW]                           0.011414
Fossil Oil shale  - Actual Aggregated [MW]                   100.000000
Fossil Peat  - Actual Aggregated [MW]                        100.000000
Geothermal  - Actual Aggregated [MW]                         100.000000
Hydro Pumped Storage  - Actual Aggregated [MW]               100.000000
Hydro Pumped Storage  - Actual Consumption [MW]              100.000000
Hydro Run-of-river and poundage  - Actual Aggregated [MW]    100.000000
Hydro Water Reservoir  - Actual Aggregated [MW]              100.000000
Marine  - Actual Aggregated [MW]                             100.000000
Nuclear  - Actual Aggregated [MW]                            100.000000
Other  - Actual Aggregated [MW]                              100.000000
Other renewable  - Actual Aggregated [MW]                    100.000000
Solar  - Actual Aggregated [MW]                                0.011414
Waste  - Actual Aggregated [MW]                                0.011414
Wind Offshore  - Actual Aggregated [MW]                        0.011414
Wind Onshore  - Actual Aggregated [MW]                         0.011414
dtype: float64

In [17]:
energy_columns = ['Biomass - Actual Aggregated [MW]', 'Waste - Actual Aggregated [MW]']

In [18]:
df.head()

,Area,MTU,Biomass - Actual Aggregated [MW],Fossil Brown coal/Lignite - Actual Aggregated [MW],Fossil Coal-derived gas - Actual Aggregated [MW],Fossil Gas - Actual Aggregated [MW],Fossil Hard coal - Actual Aggregated [MW],Fossil Oil - Actual Aggregated [MW],Fossil Oil shale - Actual Aggregated [MW],Fossil Peat - Actual Aggregated [MW],...,Hydro Run-of-river and poundage - Actual Aggregated [MW],Hydro Water Reservoir - Actual Aggregated [MW],Marine - Actual Aggregated [MW],Nuclear - Actual Aggregated [MW],Other - Actual Aggregated [MW],Other renewable - Actual Aggregated [MW],Solar - Actual Aggregated [MW],Waste - Actual Aggregated [MW],Wind Offshore - Actual Aggregated [MW],Wind Onshore - Actual Aggregated [MW]
0,BZN|DK2,01.01.2018 00:00 - 01.01.2018 01:00 (CET/CEST),387.0,NaN,NaN,79.0,69.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,51.0,294.0,364.0
1,BZN|DK2,01.01.2018 01:00 - 01.01.2018 02:00 (CET/CEST),388.0,NaN,NaN,73.0,69.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,51.0,255.0,363.0
2,BZN|DK2,01.01.2018 02:00 - 01.01.2018 03:00 (CET/CEST),387.0,NaN,NaN,72.0,68.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,51.0,307.0,363.0
3,BZN|DK2,01.01.2018 03:00 - 01.01.2018 04:00 (CET/CEST),387.0,NaN,NaN,73.0,68.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,50.0,364.0,379.0
4,BZN|DK2,01.01.2018 04:00 - 01.01.2018 05:00 (CET/CEST),380.0,NaN,NaN,70.0,71.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,51.0,347.0,384.0

In [19]:
df.shape

(8761, 23)

In [30]:
df.tail()

,Area,MTU,Biomass - Actual Aggregated [MW],Fossil Brown coal/Lignite - Actual Aggregated [MW],Fossil Coal-derived gas - Actual Aggregated [MW],Fossil Gas - Actual Aggregated [MW],Fossil Hard coal - Actual Aggregated [MW],Fossil Oil - Actual Aggregated [MW],Fossil Oil shale - Actual Aggregated [MW],Fossil Peat - Actual Aggregated [MW],...,Hydro Run-of-river and poundage - Actual Aggregated [MW],Hydro Water Reservoir - Actual Aggregated [MW],Marine - Actual Aggregated [MW],Nuclear - Actual Aggregated [MW],Other - Actual Aggregated [MW],Other renewable - Actual Aggregated [MW],Solar - Actual Aggregated [MW],Waste - Actual Aggregated [MW],Wind Offshore - Actual Aggregated [MW],Wind Onshore - Actual Aggregated [MW]
8756,BZN|DK2,31.12.2018 19:00 - 31.12.2018 20:00 (CET/CEST),462.0,NaN,NaN,37.0,181.0,23.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,53.0,346.0,469.0
8757,BZN|DK2,31.12.2018 20:00 - 31.12.2018 21:00 (CET/CEST),500.0,NaN,NaN,36.0,180.0,23.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,53.0,361.0,529.0
8758,BZN|DK2,31.12.2018 21:00 - 31.12.2018 22:00 (CET/CEST),432.0,NaN,NaN,36.0,180.0,23.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,53.0,362.0,562.0
8759,BZN|DK2,31.12.2018 22:00 - 31.12.2018 23:00 (CET/CEST),417.0,NaN,NaN,36.0,163.0,23.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,53.0,268.0,545.0
8760,BZN|DK2,31.12.2018 23:00 - 01.01.2019 00:00 (CET/CEST),410.0,NaN,NaN,36.0,161.0,23.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,53.0,265.0,545.0

In [29]:
value = df.iloc[0,1]
value

'01.01.2018 00:00 - 01.01.2018 01:00 (CET/CEST)'

In [34]:
value_cet = value.split('-')[0]
value_cest = value.split('-')[1].split('(')[0]

In [35]:
value_cet, value_cest

('01.01.2018 00:00 ', ' 01.01.2018 01:00 ')

In [37]:
type(value_cet)

str

In [47]:
date_format = '%d.%m.%Y %H:%M '
datetime_object = datetime.datetime.strptime(value_cet, date_format)

In [48]:
datetime_object

datetime.datetime(2018, 1, 1, 0, 0)

In [50]:
df['Timestamp_cet'] = df['MTU'].apply(lambda row: row.split('-')[0])
df['Timestamp_cest'] = df['MTU'].apply(lambda row: row.split('-')[1].split('(')[0])

In [51]:
df.loc[:,[]]

,Area,MTU,Biomass - Actual Aggregated [MW],Fossil Brown coal/Lignite - Actual Aggregated [MW],Fossil Coal-derived gas - Actual Aggregated [MW],Fossil Gas - Actual Aggregated [MW],Fossil Hard coal - Actual Aggregated [MW],Fossil Oil - Actual Aggregated [MW],Fossil Oil shale - Actual Aggregated [MW],Fossil Peat - Actual Aggregated [MW],...,Marine - Actual Aggregated [MW],Nuclear - Actual Aggregated [MW],Other - Actual Aggregated [MW],Other renewable - Actual Aggregated [MW],Solar - Actual Aggregated [MW],Waste - Actual Aggregated [MW],Wind Offshore - Actual Aggregated [MW],Wind Onshore - Actual Aggregated [MW],Timestamp_cet,Timestamp_cest
0,BZN|DK2,01.01.2018 00:00 - 01.01.2018 01:00 (CET/CEST),387.0,NaN,NaN,79.0,69.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,51.0,294.0,364.0,01.01.2018 00:00,01.01.2018 01:00
1,BZN|DK2,01.01.2018 01:00 - 01.01.2018 02:00 (CET/CEST),388.0,NaN,NaN,73.0,69.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,51.0,255.0,363.0,01.01.2018 01:00,01.01.2018 02:00
2,BZN|DK2,01.01.2018 02:00 - 01.01.2018 03:00 (CET/CEST),387.0,NaN,NaN,72.0,68.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,51.0,307.0,363.0,01.01.2018 02:00,01.01.2018 03:00
3,BZN|DK2,01.01.2018 03:00 - 01.01.2018 04:00 (CET/CEST),387.0,NaN,NaN,73.0,68.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,50.0,364.0,379.0,01.01.2018 03:00,01.01.2018 04:00
4,BZN|DK2,01.01.2018 04:00 - 01.01.2018 05:00 (CET/CEST),380.0,NaN,NaN,70.0,71.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,51.0,347.0,384.0,01.01.2018 04:00,01.01.2018 05:00