In [1]:
import pandas as pd
import datetime as dt
from datetime import datetime, timezone
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
#from sklearn.decomposition import PCA
#import xgboost as xg
#from entsoe import EntsoePandasClient
#from statsmodels.graphics import tsaplots
import sys
from merging import FindFile, Timestamp

In [2]:
search_path = sys.path[0]
# Specify the file name and search path
files_names = {"imports":"Imports.csv",
               "DE_LU":"DE_LU_Exports.csv",
               "DK_1": "DK_1_Exports.csv",
               "SE_4": "SE_4_Exports.csv",
               "Day_Ahead_Prices":"Day_Ahead_Prices.csv",
               "Load_And_Forecast":"Load_And_Forecast.csv",
               "Wind_Solar_Forecast":"Wind_Solar_Forecast.csv"
              }

In [5]:
day_ahead_prices = pd.read_csv(FindFile(files_names['Day_Ahead_Prices'], search_path), header=0, names=['Timestamp','Prices'])

In [6]:
load_and_forecast = pd.read_csv(FindFile(files_names['Load_And_Forecast'], search_path))

In [7]:
load_and_forecast.head()

                  Unnamed: 0  Forecasted Load  Actual Load
0  2018-01-01 00:00:00+01:00           1591.0       1607.0
1  2018-01-01 01:00:00+01:00           1541.0       1566.0
2  2018-01-01 02:00:00+01:00           1497.0       1460.0
3  2018-01-01 03:00:00+01:00           1426.0       1424.0
4  2018-01-01 04:00:00+01:00           1378.0       1380.0

In [8]:
wind_solar_forecast = pd.read_csv(FindFile(files_names['Wind_Solar_Forecast'], search_path))

In [9]:
wind_solar_forecast.head()

                  Unnamed: 0  Solar  Wind Offshore  Wind Onshore
0  2018-01-01 00:00:00+01:00    0.0          245.0         339.0
1  2018-01-01 01:00:00+01:00    0.0          264.0         347.0
2  2018-01-01 02:00:00+01:00    0.0          291.0         356.0
3  2018-01-01 03:00:00+01:00    0.0          300.0         363.0
4  2018-01-01 04:00:00+01:00    0.0          336.0         385.0

In [10]:
imports = pd.read_csv(FindFile(files_names['imports'], search_path))

In [11]:
imports.head()

                  Unnamed: 0  DE_AT_LU  DE_LU   DK_1  SE_4
0  2018-01-01 00:00:00+01:00     600.0    NaN  585.0   0.0
1  2018-01-01 01:00:00+01:00     600.0    NaN  590.0   0.0
2  2018-01-01 02:00:00+01:00     600.0    NaN  476.0   0.0
3  2018-01-01 03:00:00+01:00     600.0    NaN  538.0   0.0
4  2018-01-01 04:00:00+01:00     600.0    NaN  520.0   0.0

In [12]:
exDELU = pd.read_csv(FindFile(files_names['DE_LU'], search_path))
exDK1 =  pd.read_csv(FindFile(files_names['DK_1'], search_path),  header=0, names=['Timestamp','Quantity'])
exSE4 =  pd.read_csv(FindFile(files_names['SE_4'], search_path))

In [13]:
exDELU.head()

                  Unnamed: 0      0
0  2018-10-01 00:00:00+02:00  365.0
1  2018-10-01 01:00:00+02:00  538.0
2  2018-10-01 02:00:00+02:00  550.0
3  2018-10-01 03:00:00+02:00  584.0
4  2018-10-01 04:00:00+02:00  585.0

In [14]:
exDK1.head()

                   Timestamp  Quantity
0  2017-12-24 00:00:00+01:00       0.0
1  2017-12-24 01:00:00+01:00       0.0
2  2017-12-24 02:00:00+01:00       0.0
3  2017-12-24 03:00:00+01:00       0.0
4  2017-12-24 04:00:00+01:00       0.0

In [15]:
exSE4.head()

                  Unnamed: 0      0
0  2017-12-24 00:00:00+01:00  535.0
1  2017-12-24 01:00:00+01:00  750.0
2  2017-12-24 02:00:00+01:00  831.0
3  2017-12-24 03:00:00+01:00  650.0
4  2017-12-24 04:00:00+01:00  457.0

In [17]:
exDELU = Timestamp('Unnamed: 0', 1, exDELU)

In [18]:
exDELU.head()

                         0
Timestamp
2018-09-30 23:00:00  365.0
2018-10-01 00:00:00  538.0
2018-10-01 01:00:00  550.0
2018-10-01 02:00:00  584.0
2018-10-01 03:00:00  585.0

In [19]:
exSE4 = Timestamp('Unnamed: 0', 1, exSE4)

In [20]:
exSE4.head()

                         0
Timestamp
2017-12-24 00:00:00  535.0
2017-12-24 01:00:00  750.0
2017-12-24 02:00:00  831.0
2017-12-24 03:00:00  650.0
2017-12-24 04:00:00  457.0